<p-menubar [model]="items">
    <!-- <ng-template pTemplate="start">
        <img src="assets/showcase/images/primeng.svg" height="40" class="p-mr-2">
    </ng-template> -->
    <!-- <ng-template pTemplate="end">
        <input type="text" pInputText placeholder="Search">
    </ng-template> -->
</p-menubar>

<!-- <a routerLink="/">INICIO</a> |
<a routerLink="/productos">PRODUCTOS</a> |
<a routerLink="/auth/login">LOGIN</a> |
<a routerLink="/auth/registro">REGISTRO</a> | -->
<router-outlet></router-outlet> 